body{
    margin: 0px;
    background-color: rgb(69, 63, 72);
}
header{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: rgb(125, 131, 137);
}
.H_1{
    padding: 0px;
    }
table{
    border: 4px wheat;
}

article{
    text-align: center;
    margin-left: 400px ;
    margin-right: 400px;
    margin-top: 10px;
    background-color: #b9b9b9d5;
    border-radius: 0.5rem;
    transition: box-shadow 0.3s ease ;
    box-shadow: 0 0.1rem 0.4rem black;
    cursor: pointer;
    transition: box-shadow 0.3s ease ;
    box-shadow: 0 0.1rem 0.4rem black;
    cursor: pointer;
}
img{
    border-radius: 0.5rem;
    width: 450px;
}

#principio{
    color: rgb(21, 16, 16);
    font-family: monospace;
    font-size: 40px;
}
footer{
    text-align: center;
    padding-bottom: 40px;
    background-color: rgb(125, 131, 137);
    margin-top: 20px;
    padding-top: 30px;
}
footer section
{
    float: right;
}

a{
    color: rgb(24, 24, 61);
    transition: color 0.3s;
    text-decoration: underline;
}
#a_1{
    float: left;
}